*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#backgroundCanvas{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:contain;
  overflow: hidden;
  z-index: 1;
  background: radial-gradient(#100826,#060212);
}
#starsCanvas{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit:contain;
  overflow: hidden;
  z-index: 2;
  background-color: transparent;
}
#milkyWayCanvas{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  object-fit:contain;
  overflow: hidden;
  z-index: 1;
  filter: blur(0px);
}
